{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} User Registration {% endblock %}</h1>
    <form method="post">
        <label for="title">Username</label>
        <br>
        <input type="text" name="username"
               placeholder="Username"
               value="{{ request.form['username'] }}"></input>
        <br>
        <label for="title">Password</label>
        <br>
        <input type="password" name="password"
               placeholder="Password"
               value="{{ request.form['password'] }}"></input>

        <br>
        <button type="submit">Submit</button>
    </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
{% endblock %}
